<p id="notice"><%= notice %></p>

<p>
  <strong>Door no:</strong>
  <%= @addr.door_no %>
</p>

<p>
  <strong>Street:</strong>
  <%= @addr.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @addr.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @addr.state %>
</p>

<p>
  <strong>Code:</strong>
  <%= @addr.code %>
</p>

<p>
  <strong>Orderable:</strong>
  <%= @addr.orderable %>
</p>

<%= link_to 'Edit', edit_addr_path(@addr) %> |
<%= link_to 'Back', addrs_path %>
