<p id="notice"><%= notice %></p>
<div class ="container">
  <div class = "main">
    <div>
      <h1>Shop : <%= @shop.name %></h1>
      <br>
      <div class="dis">
      <h2>Order details</h2>
      <table>
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Payment mode</th>
          <th>Dop</th>
        </tr>

      <tr>
       <% @shop.orders.each_with_index do |ord| %>
       <td><%= link_to ord.customer.name, ord %></td>
       <td><%= link_to ord.product.name, ord %></td>
       <td><%= ord.payment_mode%></td>
       <td><%= ord.DOP %></td>
       <% end %>
     </tr>
    </table>
    </div>

    <%= link_to 'Edit', edit_shop_path(@shop) %> |
    <%= link_to 'Back', shops_path %>
  </div>
</div>
