<p id="notice"><%= notice %></p>
<div class="container">
  <div class = "main">
    <h1>Customers</h1>
    <h4>Name</h4>
    <div class = "dis">
      <table>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= link_to customer.name, customer %></td>
            <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
            <!-- <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
    </table>
  </div>

    <br>

    <%= link_to 'New Customer', new_customer_path,class: 'btn'%>
  </div>
</div>
