<p id="notice"><%= notice %></p>

<div class ="container">
  <div class = "main">
    <h1>Name:<%= @customer.name %></h1>
    <br>
      <div class="dis">
        <h2>Order details</h2>
        <table>
          <tr>
            <th>Product</th>
            <th>Shop</th>
            <th>Payment mode</th>
            <th>Dop</th>
          </tr>
          <tr>
         <% @customer.orders.each_with_index do |ord| %>
         <td><%= link_to ord.product.name, ord.product %></td>
         <td><%= link_to ord.shop.name, ord.shop %></td>
         <td><%= ord.payment_mode%></td>
         <td><%= ord.DOP %></td>
         <% end %>
        </tr>
      </table>
        <%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
    </div>
  </div>
</div>


