<p id="notice"><%= notice %></p>
<div class="container">
  <div class = "main">
    <h1>Orders</h1>
    <div class = "dis">
      <table>
          <tr>
            <th>Customer</th>
            <th>Shop</th>
            <th>Product</th>
            <th>Payment mode</th>
            <th>Dop</th>
          </tr>

          <% @orders.each do |order| %>
            <tr>
              <td><%= order.customer.name %></td>
              <td><%= order.shop.name %></td>
              <td><%= order.product.name %></td>
              <td><%= order.payment_mode %></td>
              <td><%= order.DOP %></td>
              <td><%= link_to 'Show', order %></td>
              <td><%= link_to 'Edit', edit_order_path(order) %></td>
              <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
      </table>
    </div>

      <br>

      <%= link_to 'New Order', new_order_path ,class:'btn'%>
  </div>
</div>
